@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>


<h1 class="mud-typography mud-typography-h3 mb-3">You are authenticated!</h1>

<AuthorizeView>
    <MudText Class="mb-4">Hello @context.User.Identity?.Name!</MudText>
</AuthorizeView>
